@model AppFluxoDeCaixa.Models.Fornecedor

@{
    ViewData["Title"] = "Deletar Fornecedor";
}

<h1 class="display-5 text-light text-center">@ViewData["Title"]</h1>
<h3 class="mt-3 mb-3">Deseja excluir esse cadastro?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Model.Nome
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>
        <dd class="col-sm-10">
            @Model.CNPJ
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Model.Telefone
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class="col-sm-10">
            @Model.DataCadastro
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="FornecedorId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-outline-secondary" asp-action="Index">Cancelar</a>
    </form>
</div>
